.del {
    background:red;
    color: white;
    border: none;
    cursor: pointer;
    float:right;
    border-radius: 50px;
    padding: 5px 9px;
}
.todo {
    background: wheat;
    padding: 10px;
    border-bottom: 1px wheat dotted;
}
.is-complete {
    text-decoration: line-through;
}